# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/

# Build directories
dist/
dist-ssr/

# Local environment files
.env
.env.local

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

backend/node_modules/
frontend/node_modules/

backend/env/

# Ensure the dist folder in backend is included
!backend/dist/
